<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ate Nona's Printing Shop</title>

    <!--Stylesheet-->
    <link rel="stylesheet" href="../public/css/index.css">

    <!--Google Fonts: Poppins-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="container">
        <header>
            <div class="head">
                <img src="../public/assets/icon.png">
                <h2>Ate Nona's Printing Shop</h2>
            </div>
            <ul>
                <a href="../views/index.html">
                    <li>Home</li>
                </a>
                <a href="../views/services.html">
                    <li>Services</li>
                </a>
                <a href="#">
                    <li>Products</li>
                </a>
                <a href="#">
                    <li>About Us</li>
                </a>
                <a href="#">
                    <li>Contact Us</li>
                </a>
            </ul>
        </header>

        <div class="hero">
            <div class="hero-1 fade">
                <div class="numbertext">1 / 4</div>
                <img src="../public/assets/0.jpg" style="width:100%">
            </div>
            <div class="hero-1 fade">
                <div class="numbertext">2 / 4</div>
                <img src="../public/assets/1.png" style="width:100%">
            </div>
            <div class="hero-1 fade">
                <div class="numbertext">3 / 4</div>
                <img src="../public/assets/2.png" style="width:100%">
            </div>
            <div class="hero-1 fade">
                <div class="numbertext">4 / 4</div>
                <img src="../public/assets/3.png" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
        </div>

    </div>


    <div class="highlights">

    </div>
    </div>

    <script src="../public/services/js/index.js"></script>
</body>

</html>