<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services | Ate Nona's Printing Shop</title>

    <!--Stylesheet-->
    <link rel="stylesheet" href="../public/css/index.css">

    <!--Google Fonts: Poppins-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="container">
        <header>
            <h2>Ate Nona's Printing Shop</h2>
            <ul>
                <a href="../views/index.html"><li>Home</li></a>
                <a href="../views/services.html"><li>Services</li></a>
                <a href="#"><li>Products</li></a>  
                <a href="#"><li>About Us</li></a>
                <a href="#"><li>Contact Us</li></a>
            </ul>
        </header>

        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida velit et libero accumsan ullamcorper.
            Sed eu orci mi. In hac habitasse platea dictumst. Vestibulum non lacus sed augue aliquam congue nec vitae
            diam. Vestibulum pulvinar, mauris ac ultrices porttitor, ligula leo lacinia nulla, ut accumsan lectus tortor
            sit amet lectus. Nunc euismod molestie mollis. Aliquam sit amet velit urna. Mauris hendrerit, lacus non
            convallis convallis, lectus leo feugiat dolor, ac faucibus odio orci in neque. Sed aliquam elit ut eros
            consequat scelerisque. Nulla in lacus ac tellus rhoncus mattis id eu urna. Curabitur rutrum dolor rutrum
            dictum ultrices. Morbi purus felis, condimentum sed orci eu, placerat congue dolor.

            Praesent ipsum mauris, imperdiet vel ultricies porttitor, mollis et libero. Vestibulum suscipit, nunc ut
            egestas posuere, urna tortor gravida est, ut consectetur arcu augue sit amet sapien. Integer turpis lacus,
            semper sit amet ornare at, convallis sit amet mauris. Mauris est lectus, euismod non nulla in, gravida
            vehicula nisl. In luctus a nulla at suscipit. Aliquam blandit nisl et vehicula ullamcorper. Morbi
            consectetur tortor at odio convallis, eu pretium lorem suscipit. Phasellus in sagittis est. Aenean pretium
            rhoncus libero, ut condimentum mi tristique in. Maecenas molestie dignissim blandit. Maecenas scelerisque id
            neque nec faucibus. Vivamus dignissim ullamcorper lectus. Fusce ut dui sed nisi fermentum interdum vitae sed
            lacus. Nulla vel arcu in est porttitor dignissim eget eget est. Sed maximus ante ac turpis vulputate, id
            ultrices metus bibendum.
        </div>

    </div>
    </div>


</body>

</html>